{% extends "layout.html" %}

{% block title %}
	Forgot Passowrd
{% endblock %}

{% block main %}

<form class="login-form" onsubmit="return false;">
	<div id=reset-password-view" class="mb-3">
		<input autocomplete="off" autofocus id="email-forgot-password" class="form-control mx-auto w-auto" name="email" placeholder="Email" type="email" required>
		<div id="email-error-message" class="error-msg"></div>

		<button id="forgot-password-btn" type="button" class="btn btn-primary">Reset</button>

		<button id="back-to-login-btn" type="button" onclick="window.location='/login'" class="login-link-btn">Back to Log In</button>
</form>

<div id="reset-password-confirmation-page" style="display: none;">
	<h2>Password Reset Email Sent</h2>
	<p>Please check your email for instructions on how to reset your password.</p>
	<a href="/login">Return to Login page</a>
</div>


{% endblock %}
