
{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="email" placeholder="Email" type="email" required>
        </div>
        
        <div class="mb-3">
            <inpit autocomplete="off" autofocus class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
        </div>

        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    
    <hr>

    <button id="googleSignIn" class="btn btn-danger w-100 mb-2">Log In with google</button>
    <button id="appleSignIn" class="btn btn-dark w-100 mb-2">Log In with Apple</button>

{% endblock %}
