{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="email" placeholder="Email" type="email" required>
        </div>
        
        <div class="mb-3">
            <inpit autocomplete="off" autofocus class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
        </div>

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="school " placeholder="University/College attended or attending" type="text" required>
        </div>

        <div class="mb-3">
            <label>Register as:</label>

            <input class="form-control mx-auto w-auto" type="radio" id="writer" name="role" value="writer">
            <label for="writer">Writer</label>

            <input class="form-control mx-auto w-auto" type="radio" id="customer" name="role" value="customer">
            <label for="customer">Customer</label>
        </div>

        <div class="mb-3">
            <label for="certificate">Upload University/College certificate (writers only)</label>
            <input class="form-control mx-auto w-auto" name="cerificate" id="certificate" type="file"> 
        </div>
        
        <button class="btn btn-primary" type="submit">Register</button>
    </form> 

    <hr>

    <button id="googleSignIn" class="btn btn-danger w-100 mb-2">Register with Google</button>
    <button id="appleSignIn" class="btn btn-dark w-100 mb-2">Register with Apple</button>

{% endblock %}
